@page
@model XkliburSolutions.Shield.Web.Pages.EULAModel
@{
    ViewData["Title"] = "End User License Agreement (EULA)";
}

<h1>End User License Agreement (EULA)</h1>
<p>This End User License Agreement ("EULA") is a legal agreement between you and SHIELD: Secure Hub for Identity and Entry Login Distribution.</p>

<h2>License</h2>
<p>SHIELD is licensed under the MIT License. You are free to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, subject to the following conditions:</p>
<ul>
    <li>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</li>
    <li>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</li>
</ul>

<h2>Restrictions</h2>
<p>You agree not to, and you will not permit others to:</p>
<ul>
    <li>License, sell, rent, lease, assign, distribute, transmit, host, outsource, disclose, or otherwise commercially exploit the software or make the software available to any third party.</li>
    <li>Modify, make derivative works of, disassemble, decrypt, reverse compile, or reverse engineer any part of the software.</li>
</ul>

<h2>Termination</h2>
<p>This EULA is effective until terminated. Your rights under this EULA will terminate automatically without notice from SHIELD if you fail to comply with any term(s) of this EULA. Upon termination, you shall cease all use of the software and destroy all copies, full or partial, of the software.</p>

<h2>Governing Law</h2>
<p>This EULA shall be governed by and construed in accordance with the laws of [Your Country/State], without regard to its conflict of law principles.</p>

<h2>Contact Information</h2>
<p>If you have any questions about this EULA, please contact us at <a href="mailto:privacy@xklibursolutions.io">privacy@xklibursolutions.io</a>.</p>
